body {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
/* Header */

.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.header-title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  margin-top: 30px;
}

.flow-header {
  color: #682bd7;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.active {
  color: #682bd7;
}

.add-task-button {
  margin-right: 20px;
  border: 1px solid transparent; /* Keeps the size constant */
  background-color: #682bd7;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.15s, border-color 0.15s;
  margin-left: 10px;
  margin-top: 20px;
}

.add-task-button:hover {
  background-color: hsl(261, 68%, 45%);
}

.add-task-button:active {
  background-color: hsl(261, 68%, 40%);
}

/* /////////////////////////////////////////// */

/* Add Task */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container {
  width: 400px; 
  padding: 20px;
  background: white;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.form-group.description {
  display: flex;
  align-items: center;
}

.task-description-input,
.task-name-input,
.date-input
 {
  width: 200px;
  padding: 6px;
  border-radius: 3px;
}

select {
  border-radius: 3px;
}

.task-description-input,
.task-name-input,
.date-input,
select {
  border: 1px solid #682bd7;
}

#urgency {
  border-radius: 3px;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.description {
  font-size: 14px;
}

label {
  margin-right: 10px;
}
.back {
  color: #682bd7;
  font-weight: 300;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.save-task,
.cancel-task {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s;
  font-family: "Poppins", sans-serif;
}

.save-task {
  background-color: #682bd7;
  color: white;
}

.save-task:hover {
  background-color: white;
  color: #682bd7;
}

.cancel-task:hover {
  background-color: hsl(0, 0%, 88%);
}

.save-task {
  margin-right: 20px;
  background-color: #682bd7;
  color: white;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.15s
}

.save-task:hover {
  background-color: hsl(261, 68%, 45%);
  color: white;
}

.save-task:active {
  background-color: hsl(261, 68%, 40%);
  color: white;
}

/*/////////////////////////////// */

.tasks-container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures columns stretch */
  height: calc(100vh - 100px); /* Adjusts for header */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 200px;
}

.task-column-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows it to expand */
  min-height: 100%;
  background-color: rgba(67, 145, 237, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin-right: 30px;
}



.task-box {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-name {
  font-size: 15px;
  font-weight: 500;
}

.task-description {
  font-size: 12px;
  color: black;
  margin-top: -12px;
}

.text-box {
  margin-left: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete,
.mark-as-done {
  border:none;
  background-color:transparent;
  outline:none;
  cursor: pointer;
  transition: color 0.2s;
}

.delete:hover svg {
  color: hsl(0, 100%, 40%);
}

.mark-as-done:hover svg {
  color: #682bd7;
}

.top-section {
  margin-left: 200px;
}

.board-header {
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 25px;
}



.progress-bar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  accent-color: #682bd7;
  
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gain {
  color: green
}

.column-header-title {
  font-weight: 400;
}

.task-due-date {
  font-size: 12px;
  color: gray;
}

#date-input {
  font-family: "Poppins", sans-serif;
}

.clear-button {
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: gray;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.clear-button:hover {
  color: hsl(0, 100%, 40%);
}

